* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  background-image: url(./Framebg.png);
  background-attachment: fixed;
}
hr {
  border: 1px solid #ffffff15;
  width: 80%;
  margin: auto;
}

/*********************************** Start Navbar Section *********************************/
nav {
  display: flex;
  justify-content: space-between;
  background-color: #00000032;
  color: #fff;
  padding: 25px 100px;
  align-items: center;
}
nav .logo {
  cursor: pointer;
}
nav .logo h1 {
  font-size: 30px;
  font-weight: 900;
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 18px;
}
nav ul li {
  position: relative;
  cursor: pointer;
}
nav ul li a {
  color: white;
}

nav ul li::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: white;
  top: 25px;
  transition: ease-in-out 0.2s;
}
nav ul li:hover::before {
  width: 100%;
}
nav .members-btn {
  list-style: none;
  padding: 10px 20px;
  background-color: #ffffff20;
  border-radius: 10px;
  transition: linear 0.2s;
  cursor: pointer;
}
nav .members-btn:hover {
  background-color: #ffffff10;
}
nav .members-btn a {
  color: white;
}
/*********************************** End Navbar Section *********************************/

/*********************************** Start Hero Section *********************************/
.hero {
  min-height: calc(100vh - 82px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .inside-hero {
  text-align: center;
  width: 50%;
}
.hero .inside-hero .green-title {
  color: #16fcd2;
  font-size: 26px;
}
.hero .inside-hero .white-title {
  color: white;
  font-size: 35px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 40px;
}
.hero .inside-hero .description {
  color: #ffffff71;
  font-size: 18px;
}
.hero .inside-hero .btns {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}
.hero .inside-hero .btns .repo-btn {
  background-color: #6016fc;
  border: none;
  padding: 18px 40px;
  cursor: pointer;
  transition: linear 0.2s;
  font-weight: bold;
  font-size: 16px;
}
.hero .inside-hero .btns .repo-btn a {
  color: white;
}
.hero .inside-hero .btns .repo-btn:hover {
  background-color: #5f16fcb0;
}
.hero .inside-hero .btns .pdf-btn {
  background-color: #ffffff10;
  color: white;
  border: none;
  padding: 18px 40px;
  cursor: pointer;
  transition: linear 0.2s;
  font-weight: bold;
  font-size: 16px;
}
.hero .inside-hero .btns .pdf-btn:hover {
  background-color: #ffffff08;
}
/*********************************** End Navbar Section *********************************/

/*********************************** Start Sections *********************************/
/********** Start Section 1 **********/
.section1 h2 {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}
/********** End Section 1 **********/

/********** Start Section 2 **********/
.section2 h2 {
  margin-top: 200px;
  margin-bottom: 100px;

  text-align: center;
  color: white;
}
/********** End Section 2 **********/

/********** Start Section 3 **********/
.section3 h2 {
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}
/********** End Section 3 **********/

/********** Start Section 4 **********/
.section4 h2 {
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}
/********** End Section 4 **********/

/********** Start Section 5 **********/
.section5 h2 {
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}
/********** End Section 5 **********/
/*********************************** End Sections *********************************/

/*********************************** Start Members Section *********************************/
.members h2 {
  margin-top: 100px;
  text-align: center;
  color: white;
}
/*********************************** End Members Section *********************************/

/*********************************** Start Footer Section *********************************/
footer {
  margin-top: 150px;
  width: 100wh;
  text-align: center;
  padding: 30px;
  font-size: 18px;
  color: white;
  border-top: 1px solid #ffffff16;
}
footer span:nth-child(2) {
  color: #35ee82;
  letter-spacing: 3px;
  margin-left: 5px;
  font-weight: 900;
}
footer span:nth-child(1) {
  font-weight: 700;
  text-decoration: underline;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*********************************** End Footer Section *********************************/
